<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  
  <!-- Configurations for the DispatcherServlet for portlet context -->
  <servlet>
	<servlet-name>delegate</servlet-name>
	<servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
	<init-param>
	  <param-name>servlet-class</param-name>
	  <param-value>org.springframework.web.servlet.DispatcherServlet</param-value>
	</init-param>
	<init-param>
	  <param-name>sub-context</param-name>
	  <param-value>services</param-value>
	</init-param>
	<init-param>
	  <param-name>contextConfigLocation</param-name>
	  <param-value>classpath:/META-INF/services-context.xml</param-value>
	</init-param>       
	<load-on-startup>1</load-on-startup>
  </servlet>
</web-app>