<div id="desktop-top-controls">
	<div id="auth-wrapper" class="col-md-12">
		#if ($is_signed_in)

			<div class="col-md-offset-8 col-md-4">
				<div class="row">
					<div id="auth-name-wrapper" class="col-md-6 pull-right text-center">
						<i class="fa fa-user fa-2x"></i><span>&nbsp;Welcome, $user_first_name $user_last_name!</span>
					</div>

					<div id="sign-in" class="col-md pull-right">
						<!-- <a class="auth-link text-center" href="/web/guest/video" title="Admin Home">Admin Home</a> -->
						<a class="auth-link" href="/c/portal/logout">
							<i class="fa fa-sign-out fa-2x"></i><span>&nbsp;Sign Out</span>
						</a>
						<span class="auth-divider">|</span>&nbsp;
					</div>
				</div>
			</div>
		#else
			<div class="col-md-offset-4 col-md-8">
				<div class="row">
					<div id="social_media_wrapper" class="col-md-2.5 pull-right">
						<a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a> 
						<a href="https://twitter.com/leonartgr"><i class="fa fa-twitter"></i></a> 
						<a href="#googleplus"><i class="fa fa-google-plus"></i></a> 
						<a href="mailto:support@shockandbaww.com"><i class="fa fa-envelope-o"></i></a> 
						<a href="tel:+15551231234"><i class="fa fa-mobile"></i></a> 
					</div>

					<div id="sign-in" class="col-md-5.5 pull-right">
						<a class="auth-link" href="/web/guest/home-page?p_p_id=58&p_p_lifecycle=0&p_p_state=maximized&p_p_mode=view&_58_struts_action=%2Flogin%2Fforgot_password">
							<i class="fa fa-cogs fa-2x"></i><span>&nbsp;Forgot Password</span>
						</a>
						<span class="auth-divider">|</span>
						<a class="auth-link" href="/c/portal/login?redirect=/web/guest/video">
							<i class="fa fa-sign-in fa-2x"></i><span>&nbsp;Sign In</span>
						</a>
						<span class="auth-divider">|</span>&nbsp;
					</div>
				</div>
			</div>
		#end
	</div>
	
	
	<div id="banner-wrapper" class="container">
		<div class="row">
			<div class="col-md-3">
				<img class="img-responsive" alt="$logo_description" src="$images_folder/custom-site/images/shockandbaww.png"> 
			</div>
			<div class="col-md-4">
				<h1>Logo Nav</h1>
				<p>A Bootstrap navigation template featuring an image logo in place of the navbar header text.</p>
			</div>
		</div>
	</div>
	
	
	
	
</div>	
#if ($has_navigation || $is_signed_in)
	#parse ("$full_templates_path/desktop_navigation.vm")
#end