<div id="nav-wrapper">
	<div class="container">
		<nav class="$nav_css_class navbar site-navigation" id="navigation" role="navigation">
			<div id="liferay-fix">
				<ul id="nav-general-site" aria-label="#language ("site-pages")" class="nav nav-collapse" role="menubar">
					#foreach ($nav_item in $nav_items)
							#set ($nav_item_attr_selected="")
							#set ($nav_item_attr_has_popup="")
							#set ($nav_item_caret="")
							#set ($nav_item_css_class="lfr-nav-item")
							#set ($nav_item_link_css_class="")

						#if ($nav_item.isSelected())
							#set ($nav_item_attr_selected="aria-selected='true'")
							#set ($nav_item_css_class="$nav_item_css_class selected active")
						#end

						#if ($nav_item.hasChildren())
							#set ($nav_item_attr_has_popup="aria-haspopup='true'")
							#set ($nav_item_caret='<b class="icon-caret-down"></b>')
							#set ($nav_item_css_class="$nav_item_css_class dropdown")
							#set ($nav_item_link_css_class="dropdown-toggle")
						#end

						<li class="$nav_item_css_class" id="layout_$nav_item.getLayoutId()" $nav_item_attr_selected role="presentation">
							<a aria-labelledby="layout_$nav_item.getLayoutId()" $nav_item_attr_has_popup class="$nav_item_link_css_class" href="$nav_item.getURL()" $nav_item.getTarget() role="menuitem">
								<span>$nav_item.icon() $nav_item.getName() $nav_item_caret</span>
							</a>

							#if ($nav_item.hasChildren())
								<ul class="dropdown-menu child-menu" role="menu">
									#foreach ($nav_child in $nav_item.getChildren())
										#set ($nav_child_attr_selected="")
										#set ($nav_child_css_class="lfr-nav-item")

										#if ($nav_child.isSelected())
											#set ($nav_child_attr_selected="aria-selected='true'")
											#set ($nav_child_css_class="selected")
										#end

										<li class="$nav_child_css_class" id="layout_$nav_child.getLayoutId()" $nav_child_attr_selected role="presentation">
											<a aria-labelledby="layout_$nav_child.getLayoutId()" href="$nav_child.getURL()" $nav_child.getTarget() role="menuitem">$nav_child.getName()</a>
										</li>
									#end
								</ul>
							#end
						</li>
					#end
					
				</ul>
				#if ($is_signed_in && $permissionChecker.isOmniadmin())
					<ul id="nav-omni-admin" aria-label="#language ("site-pages")" class="pull-right nav nav-collapse">
				    	<li class="pull-right"><a href="/web/guest/internal-registration">Administrator</a></li>   
				    </ul>
				#end
				<ul id="desktop-search-controls" aria-label="#language ("site-pages")" class="pull-right nav nav-collapse col-md-2">
					<form class="form-search">
						<div class="input-group">
			               <input id="search-control-input" type="text" class="form-control" placeholder="Search">
			               <div class="input-group-btn">
			                  <button type="submit" id="SearchBtn" class="btn btn-default">
			                 	<span class="glyphicon glyphicon-search"></span>
			                  </button>
			               </div>
			            </div>
					</form> 
				</ul>
			</div>
		</nav>
	</div>
</div>
<script>
	//Liferay fix for menu
	Liferay.Data.NAV_LIST_SELECTOR = '#liferay-fix > ul';
</script>