<div id="mobile-nav">
 	<div id="mobile-nav-bar">
		<a class="touche" id="nav-pop">
	    	<i class="fa fa-bars fa-2x"></i>
		</a>
	</div>
	<div id="mobile-nav-menu">
		<ul aria-label="#language ("site-pages")" class="nav" role="menubar">
				
			
			#foreach ($nav_item in $nav_items)
				
				<!-- clear variables -->
				#set ($nav_item_attr_selected="")
				#set ($nav_item_attr_has_popup="")
				#set ($nav_item_caret="")
				#set ($nav_item_css_class="")
				#set ($nav_item_link_css_class="")
				#set ($nav_item_link_css_style="")

				#if ($nav_item.isSelected())
					#set ($nav_item_attr_selected="aria-selected='true'")
					#set ($nav_item_css_class="$nav_item_css_class selected active")
				#end

				#if ($nav_item.hasChildren())
					#set ($nav_item_attr_has_popup="aria-haspopup='true'")
					#set ($nav_item_caret='<i class="fa fa-caret-square-o-down fa-2x"></i>')
					#set ($nav_item_css_class="$nav_item_css_class drop")
					#set ($nav_item_link_css_class="drop-toggle")
					#set ($nav_item_link_css_style="width:80%;")
				#end
				

				<li class="$nav_item_css_class touche" id="layout_$nav_item.getLayoutId()" $nav_item_attr_selected role="presentation">

					<div id="menu-parent-wrapper">
						<a style="$nav_item_link_css_style" aria-labelledby="layout_$nav_item.getLayoutId()" $nav_item_attr_has_popup class="$nav_item_link_css_class" href="$nav_item.getURL()" $nav_item.getTarget() role="menuitem">
							<span>$nav_item.icon() $nav_item.getName()</span>
						</a>					
					
						#if ($nav_item.hasChildren())
						<a id="menu-parent-selector" aria-labelledby="layout_$nav_item.getLayoutId()" $nav_item_attr_has_popup class="$nav_item_link_css_class" href="javascript:void(0);" $nav_item.getTarget() role="menuitem">
							<span> $nav_item_caret </span>
						</a>
						#end
					</div>

					#if ($nav_item.hasChildren())
						<ul class="drop-menu child-menu" role="menu">
							#foreach ($nav_child in $nav_item.getChildren())
								#set ($nav_child_attr_selected="")
								#set ($nav_child_css_class="lfr-nav-item")

								#if ($nav_child.isSelected())
									#set ($nav_child_attr_selected="aria-selected='true'")
									#set ($nav_child_css_class="act")
								#end

								<li class="$nav_child_css_class" id="layout_$nav_child.getLayoutId()" $nav_child_attr_selected role="presentation">
									<a aria-labelledby="layout_$nav_child.getLayoutId()" href="$nav_child.getURL()" $nav_child.getTarget() role="menuitem"><span>$nav_child.getName()</span></a>
								</li>
							#end
						</ul>
					#end
				</li>
			#end
			<li>
				<a>
					<span>Contact Info<b class="icon-caret-down"></b></span>
				</a>
				<ul class="drop-menu child-menu text-center" role="menu">
					<li>
						<a href="https://www.facebook.com"><i class="fa fa-facebook fa-2x"></i>&nbsp;facebook</a>
					</li>
					<li>
						<a href="https://twitter.com/leonartgr"><i class="fa fa-twitter fa-2x"></i>&nbsp;twitter</a>
					</li>
					<li>
						<a href="#googleplus"><i class="fa fa-google-plus fa-2x"></i>&nbsp;googleplus</a>
					</li>
					<li>
						<a href="mailto:support@shockandbaww.com"><i class="fa fa-envelope-o fa-2x"></i>&nbsp;support@shockandbaww.com</a>
					</li>
					<li>
						<a href="tel:+15551231234"><i class="fa fa-mobile fa-2x"></i>&nbsp;1-555-123-1234</a>
					</li>
				</ul>
			</li>
		</ul>
		#if ($is_signed_in && $permissionChecker.isOmniadmin())
			<ul aria-label="#language ("site-pages")" class="pull-right nav nav-collapse">
		    	<li class="pull-right"><a href="/web/guest/internal-registration"><span>Internal Registration</span></a></li>   
		    </ul>
		#end
	</div>
</div>


<div id="mobile-search-controls">


	<form id="search-control-form" class="form-search">
		<div class="input-group">
           <input id="search-control-input" type="text" class="form-control" placeholder="Search...">
           <div class="input-group-btn">
              <button type="submit" id="SearchBtn" class="btn btn-default">
             	<span class="glyphicon glyphicon-search"></span>
              </button>
           </div>
        </div>
	</form> 
</div>
