
	<div id="authRow" class="row">

		#if ($is_signed_in)
			<p>

				<a href="/c/portal/logout"><span>Sign Out</span></a>&nbsp;&nbsp; | &nbsp;&nbsp;

				<a class="acct" href="/web/guest/my-account" title="My Account"><span>My Account</span></a> 
		    	
		    </p>
	
		#else	
			<p>

				<a href="/web/guest/registration"><span>Register</span></a>&nbsp;&nbsp; | &nbsp;&nbsp;
	  		
				<a href="/web/guest/resetpassword"><span>Forgot Password</span></a>&nbsp;&nbsp;

				<a class="acct" href="/c/portal/login?redirect=/web/guest/my-account"><span>Customer<br>Login</span></a>			
				
			</p>
		#end
	</div>

	<a id="mobile-logo" href="/web/guest/home">
	     <img alt="$logo_description" src="$images_folder/shockandbaww.png"  />
	</a>

	#if ($has_navigation || $is_signed_in)
	   #parse ("$full_templates_path/mobile_navigation.vm")
	#end


	
</div>
