<div id="mobile-top-controls">
	#if ($is_signed_in)
		<p>
			<a href="/c/portal/logout"><span>Sign Out</span></a>&nbsp;&nbsp; | &nbsp;&nbsp;
			<a class="acct" href="/web/guest/video" title="Admin Home"><span>Admin Home</span></a> 	    	
	    </p>

	#else	
		<p>
			<!-- <a href="/web/guest/sign-up"><span>Sign Up</span></a>&nbsp;&nbsp; | &nbsp;&nbsp; -->
			<a href="/web/guest/home-page?p_p_id=58&p_p_lifecycle=0&p_p_state=maximized&p_p_mode=view&_58_struts_action=%2Flogin%2Fforgot_password"><span>Forgot Password</span></a>&nbsp;&nbsp;
			<a class="acct" href="/c/portal/login?redirect=/web/guest/video"><span>Sign In</span></a>			
			
		</p>
	#end
</div>
<div id="mobile-logo-wrapper">
	<a id="mobile-logo" href="/web/guest/home-page">
	     <img alt="$logo_description" src="$images_folder/shockandbaww.png"  />
	</a>
</div>

#if ($has_navigation || $is_signed_in)
   #parse ("$full_templates_path/mobile_navigation.vm")
#end


