/********************************************************************************/
/* Variables                                                                   */
/********************************************************************************/
$lightestGray: #cccccc;
$lightGray: #4F4F4F;
$darkGray: #3F3F3F;
$peach: #F5D8A9;
$yellow: #FF9900;
$white: #ffffff;

/********************************************************************************/
/* Mixins                                                                       */
/********************************************************************************/
@mixin box-shadow-general($horizontal, $vertical, $blur, $box_color) {
    -webkit-box-shadow: $horizontal $vertical $blur $box_color;
    -moz-box-shadow: $horizontal $vertical $blur r$box_color;
    box-shadow: $horizontal $vertical $blur $box_color;
}
@mixin color-gradient($from-color, $to-color) {
    /* Fallback */
    background-color: mix($from-color, $to-color);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from-color), to($to-color));
    background-image: -webkit-linear-gradient(top, $from-color, $to-color);
    background-image: -moz-linear-gradient(top, $from-color, $to-color);
    background-image: -ms-linear-gradient(top, $from-color, $to-color);
    background-image: -o-linear-gradient(top, $from-color, $to-color);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$from-color}', EndColorStr='#{$to-color}')";
}
@mixin bg-gradient($background-image, $from-color, $to-color) {
    /* Fallback */
    background-color: mix($from-color, $to-color);
    /* Fallback */
    background-image: mix($from-color, $to-color);
    
    background: $background-image center center, -webkit-gradient(linear, 0% 0%, 0% 100%, from($from-color), to($to-color));
    background: $background-image center center, -webkit-linear-gradient(top, $from-color, $to-color);
    background: $background-image center center, -moz-linear-gradient(top, $from-color, $to-color);
    background: $background-image center center, -ms-linear-gradient(top, $from-color, $to-color);
    background: $background-image center center, -o-linear-gradient(top, $from-color, $to-color);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$from-color}', EndColorStr='#{$to-color}')";
}
@mixin rounded-border-top($brd-top-radius) {
    -webkit-border-top-right-radius: $brd-top-radius;
    -webkit-border-top-left-radius: $brd-top-radius;
    -moz-border-radius-topright: $brd-top-radius;
    -moz-border-radius-topleft: $brd-top-radius;
    border-top-right-radius: $brd-top-radius;
    border-top-left-radius: $brd-top-radius;
}
@mixin rounded-border-bottom($brd-btm-radius) {
    -webkit-border-bottom-right-radius: $brd-btm-radius;
    -webkit-border-bottom-left-radius: $brd-btm-radius;
    -moz-border-radius-bottomright: $brd-btm-radius;
    -moz-border-radius-bottomleft: $brd-btm-radius;
    border-bottom-right-radius: $brd-btm-radius;
    border-bottom-left-radius: $brd-btm-radius;
}
@mixin text-shadow-black {
    text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
}
@mixin effect-slow-transition {
   -webkit-transition: all .55s ease;
      -moz-transition: all .55s ease;
       -ms-transition: all .55s ease;
        -o-transition: all .55s ease;
           transition: all .55s ease;
}
@mixin border-fade($bd-color, $percent-fade) {
    border-right: 1px solid lighten($bd-color, $percent-fade);
    border-left: 1px solid lighten($bd-color, $percent-fade);
    border-bottom: 1px solid lighten($bd-color, $percent-fade);
    border-bottom: 1px solid lighten($bd-color, $percent-fade);
}
@mixin transparent($transPercent) {
	/* Netscape */
	-moz-opacity: $transPercent;
	/* Safari 1.x */
	-khtml-opacity: $transPercent;
	/* Good browsers */
	opacity: $transPercent;
}



/********************************************************************************/
/* Global Link      styles                                                      */
/********************************************************************************/
.aui a {    
    
}
.aui a:hover { 

}

/********************************************************************************/
/* Global Image     styles                                                      */
/********************************************************************************/
img { border: 0; }
.imageCenter { display: block; margin: 0 auto; }


/********************************************************************************/
/* Global TextFields/TextAreas Highlight Styles                                 */
/********************************************************************************/
/** CSS3 the :not() selector styles for everything but the submit and file buttons **/
input:not([type=submit]):not([type=file]):not([type=button]) {

}

/** Input and TextAreas on Focus **/
input:not([type=submit]):not([type=file]):not([type=button]):focus, textarea:focus {
    background-color: $peach;
}

/********************************************************************************/
/********************************************************************************/
/* Liferay 6.2 Bootstrap 3 FIXES 			                                   	*/
/* NOTE: Because Liferay 6.2 uses Boostrap 2 these are css fixes 				*/
/* that are needed in order to override Boostrap with Bootstrap3				*/
/********************************************************************************/
/********************************************************************************/
/** fix for omni buttons **/
div.dockbar div.navbar-inner div.container .nav-collapse {
	visibility: visible;
	display: block;
}
/** fix for omni buttons **/
div.dockbar {
	position: unset !important;
}

/** fix for textField height **/
.aui {
	select,
	textarea,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"],
	.uneditable-input {
	  height: 30px;
	}
}


/********************************************************************************/
/* HEADER       styles                                                          */
/********************************************************************************/

#header-wrapper {
    @extend .clearfix;
	/** background-color: $lightGray; **/
	background: url("../images/custom-site/images/Antelope-Canyon2.jpg") repeat-y scroll 0 0 rgba(0, 0, 0, 0);
}


#header-wrapper #desktop-top-controls,
#header-wrapper #mobile-top-controls  {
    background-color: red;
    margin-bottom: 1em;
}

	
/********************************************************************************/
/* HEADER - Authorization Section                                               */
/********************************************************************************/
.generalAuthLink {
	display: inline-block;
	padding: 10px;
	top: 0;
	@include border-fade($yellow, 5%);
	@include box-shadow-general(0, 5px, 10px, rgba(0, 0, 0, 0.2));
	@include bg-gradient(url("../images/noise.png"), $darkGray, darken($darkGray, 5%));
	@include rounded-border-bottom(4px);
}

.aui {
	#auth-wrapper {
		color:$white;	
	}
    #auth-wrapper  a {
        color:$white;  
        text-decoration:none; 
        margin: 0px 5px 0px 0px;
        font-weight: bold;
        border-top: none;
        @extend .generalAuthLink;

    }
	#auth-wrapper  a:hover {
        @include bg-gradient(url("../images/noise.png"), $yellow, darken($yellow, 5%));
    }
    #auth-wrapper { 
	    #auth-name-wrapper {
	        @extend .generalAuthLink;
		}  
	    #social_media_wrapper {
	        @extend .generalAuthLink;
	    }
	    #social_media_wrapper a {
	    	background-color: $white;
	        border-radius: 50%;
	        display: block;
	        float: left;
	        font-size: 18px;
	        height: 30px;
	        margin: 0 3px;
	        padding: 6px;
	        text-align: center;
	        transition: all 100ms linear 0s;
	        width: 30px;
	    }
	    #social_media_wrapper a i {
	        vertical-align: top !important;
	    }
	    #social_media_wrapper a:hover, #social_media_wrapper a:active {
	        background: none repeat scroll 0 0 $yellow;
	        color: $white;
	        text-decoration: none;
	    }
	}
}

/********************************************************************************/
/* HEADER - Navigation Section          		                                */
/********************************************************************************/
.aui {
    #header-wrapper {
        #nav-wrapper {
            display: block;
            background-color: $lightGray;
            @include border-fade($yellow, 15%);
			@extend .clearfix;
			@include rounded-border-top(4px);
			@include rounded-border-bottom(4px);
			@include box-shadow-general(0, 1px, 1px, rgba(0, 0, 0, 0.5));
            #navigation {
                margin: 0 auto;
                min-height: 0px; 
                border: 0 solid transparent;
                li > a {
                 	text-shadow:none;
                	color: $white;
                	font-weight:bold;
                	padding: 12px 20px;
                	
                }
              	li ul li a {
					@include bg-gradient(url("../images/noise.png"), $darkGray, darken($darkGray, 2%));
					@include effect-slow-transition;
                }
                li a:hover {
                	color: $white;
					@include bg-gradient(url("../images/noise.png"), $yellow, darken($yellow, 2%));
					@include effect-slow-transition;
                }
                li.selected {
                      & > a {
                          @include bg-gradient(url("../images/noise.png"), $darkGray, darken($darkGray, 2%));
                          @include effect-slow-transition;
                      }
                }
                
              	/** Fix Liferay Bootstrap3 conflict **/
                #nav-general-site ul.dropdown-menu {
					border-radius: 0px;
					margin: -1px 0px 0px 0px;
					padding: 0px 0px 0px 0px;
					li a {
						padding: 12px 20px;
					}
				}                         
                #nav-omni-admin {
	            	margin: 0 25px 0 0 !important;
	            }
            }
        }
    }
}

/********************************************************************************/
/* HEADER - Search Section              	                                    */
/********************************************************************************/
.aui {
	#header-wrapper {
	    #nav-wrapper {
		    #desktop-search-controls {
		    	margin-right:25px; 
		    	@include transparent(0.5);
		    	@include effect-slow-transition;
		    	&:hover {
		    		@include transparent(1);
		    		@include effect-slow-transition;
		    	}
		    	#search-control-input {
		    		margin-top:5px; 
		    		width: 60px;
		    		@include effect-slow-transition;
		    	}
		    	#search-control-input:focus {
		    		@include transparent(1); 
		    		width: 100%;
		    		@include effect-slow-transition;
		    	}
		    	#SearchBtn:hover {
		    		color: $yellow;
		    	}
		    }
		}
	}
}


/********************************************************************************/
/* Breakcrumbs                                                                  */
/********************************************************************************/
.aui {
    .hgroup {
        border-bottom: 1px solid $lightestGray;
        margin-bottom: 26px;
        margin-top: 26px;
        padding-bottom: 17px;
        padding-top: 17px;
        position: relative;
    }
    .hgroup h1 {
        font-size: 30px;
        font-weight: 300;
        line-height: 1em;
        margin: 0 0 0.3em;
        padding: 0;
    }
    .hgroup h2 {
        color: #555555;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.5em;
        margin: 0 20% 0 0;
        padding: 0;
    }
    .hgroup .breadcrumb {
        background-color: $darkGray;
        border: 1px solid $lightestGray;
        bottom: -15px;
        font-size: 12px;
        margin: 0;
        position: absolute;
        right: 0;
    }
}

.aui {
    .breadcrumb {
        @include rounded-border-top(4px);
        @include rounded-border-bottom(4px);
        list-style: outside none none;
        margin-bottom: 20px;
        padding: 8px 15px;
    }
    .breadcrumb > li {
        display: inline-block;
    }
    .breadcrumb > li + li.active:before {
        display: none;
    }
    .breadcrumb > .active {
        color: $lightGray;
    }
    
    .breadcrumb > li a {
    	text-shadow:none;
    }
}
.aui {
    /** Hide the footer bread crumbs **/
    .lfr-hudcrumbs {
        display: none !important;
    }
}

/********************************************************************************/
/* Main Content				                                                    */
/********************************************************************************/
.aui {
    #content-wrapper {
        clear: both;
        min-height: 600px;
        @extend .clearfix;
        display: block;
        width: 100%;
    }

    #content-wrapper {
        .portlet, .portlet-borderless-container {
            @extend .clearfix;
            .portlet-topper {
                @include color-gradient(lighten($darkGray, 5%), $darkGray);
                text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
            }
            .portlet-content {
                @extend .clearfix;
            }
        }

        .panel {
            padding: 15px !important;
            margin-bottom: 20px;
            background-color: $white;
            border: 1px solid #dddddd;
            @include rounded-border-top(4px);
            @include rounded-border-bottom(4px);
            @include box-shadow-general(0, 1px, 1px, rgba(0, 0, 0, 0.5));
        }
        .panel-heading {
            padding: 5px 10px;
            margin: -15px -15px 15px;
            font-size: 17.5px;
            font-weight: 500;
            @include bg-gradient(url("../images/noise.png"), lighten($darkGray, 5%), $darkGray);
            border-bottom: 0.25rem solid $yellow;
            @include rounded-border-top(4px);
            color: $white;
        }
        .panel-heading.admin {
            @include bg-gradient(url("../images/noise.png"), lighten($yellow, 5%), $yellow);
            border-bottom: 0.25rem solid lighten($darkGray, 10%);
        }
        .panel-footer {
            padding: 10px 15px;
            margin: 15px -15px -15px;
            background-color: #f5f5f5;
            border-top: 1px solid #dddddd;
            @include rounded-border-bottom(4px);
        }
        .panel-primary {
            border-color: #428bca;
        }
        .panel-primary .panel-heading {
            color: $white;
            background-color: #428bca;
            border-color: #428bca;
        }
        .panel-success {
            border-color: #d6e9c6;
        }
        .panel-success .panel-heading {
            color: #468847;
            background-color: #dff0d8;
            border-color: #d6e9c6;
        }
        .panel-warning {
            border-color: #fbeed5;
        }
        .panel-warning .panel-heading {
            color: #c09853;
            background-color: #fcf8e3;
            border-color: #fbeed5;
        }
        .panel-danger {
            border-color: #eed3d7;
        }
        .panel-danger .panel-heading {
            color: #b94a48;
            background-color: #f2dede;
            border-color: #eed3d7;
        }
        .panel-info {
            border-color: #bce8f1;
        }
        .panel-info .panel-heading {
            color: #3a87ad;
            background-color: #d9edf7;
            border-color: #bce8f1;
        }
    }

}
/********************************************************************************/
/* Footer       styles                                                          */
/********************************************************************************/
.aui {
	#footer-wrapper {
		@extend .clearfix;
		footer {
			background-color: #434955;
			#footer-copyright {
				background-color: #353b47;
			    color: $white;
			    padding: 20px 0;
			}
		}
	}
	
	
	#footer-wrapper {
		#footer-top {
			color: $white;
			padding: 20px 0px;
			@include bg-gradient(url("../images/noise.png"), $darkGray, darken($darkGray, 2%));
			@include effect-slow-transition;
		}
		
		#footer-top ul li {
			list-style-type: none;
		}
		#footer-top ul li.list-header {
			font-weight: bold;
			font-size: x-large;
			padding-bottom: 15px;
			border-bottom: 1px solid $white;
		}
		#footer-top ul li.list-child {
			margin-top: 5px;
			font-weight: normal;
		}
		#footer-top ul li.selected > a {
			color: darken($lightestGray, 15%);
		}	
		#footer-top ul li.child-selected > a {
			color: $yellow;
		}		
		#footer-top a {
			color: $white;
		 	text-decoration:none; 
	        margin: 5px 0px;
	        font-weight: bold;
	        border-top: none;
			@include effect-slow-transition;
		}
		#footer-top a:hover {
			color: darken($yellow, 15%);
			@include effect-slow-transition;
		}
	}
}



/********************************************************************************/
/* Utility Classes                                                              */
/********************************************************************************/
.clearfix {
    zoom: 1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}
.bold { font-weight: bold; }
.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; }
.clear { clear:both; }
