$lightestGray: #656565;
$lightGray: #1b1b1b;
$darkGray: #3F3F3F;
$yellow: #FF9900;


@mixin box-shadow-general($horizontal, $vertical, $blur, $box_color) {
	-webkit-box-shadow: $horizontal $vertical $blur $box_color;
    -moz-box-shadow: $horizontal $vertical $blur r$box_color;
    box-shadow: $horizontal $vertical $blur $box_color;
}

@mixin rounded-border-top($brd-top-radius) {
	-webkit-border-top-right-radius: $brd-top-radius;
	-webkit-border-top-left-radius: $brd-top-radius;
	-moz-border-radius-topright: $brd-top-radius;
	-moz-border-radius-topleft: $brd-top-radius;
	border-top-right-radius: $brd-top-radius;
	border-top-left-radius: $brd-top-radius;
}

@mixin rounded-border-bottom($brd-btm-radius) {
    -webkit-border-bottom-right-radius: $brd-btm-radius;
    -webkit-border-bottom-left-radius: $brd-btm-radius;
    -moz-border-radius-bottomright: $brd-btm-radius;
    -moz-border-radius-bottomleft: $brd-btm-radius;
    border-bottom-right-radius: $brd-btm-radius;
    border-bottom-left-radius: $brd-btm-radius;
}

@mixin gradient($from-color, $to-color) {
    /* Fallback */
    background-color: mix($from-color, $to-color);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from-color), to($to-color));
    background-image: -webkit-linear-gradient(top, $from-color, $to-color);
    background-image: -moz-linear-gradient(top, $from-color, $to-color);
    background-image: -ms-linear-gradient(top, $from-color, $to-color);
    background-image: -o-linear-gradient(top, $from-color, $to-color);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$from-color}', EndColorStr='#{$to-color}')";
}
@mixin bg-gradient($background-image, $from-color, $to-color) {
    /* Fallback */
    background-color: mix($from-color, $to-color);
    /* Fallback */
    background-image: mix($from-color, $to-color);
    background: $background-image center center, -webkit-gradient(linear, 0% 0%, 0% 100%, from($from-color), to($to-color));
    background: $background-image center center, -webkit-linear-gradient(top, $from-color, $to-color);
    background: $background-image center center, -moz-linear-gradient(top, $from-color, $to-color);
    background: $background-image center center, -ms-linear-gradient(top, $from-color, $to-color);
    background: $background-image center center, -o-linear-gradient(top, $from-color, $to-color);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$from-color}', EndColorStr='#{$to-color}')";
}
@mixin text-shadow($color) {
    text-shadow: 0 1px 0 $color;
}
@mixin background-fade {
    -webkit-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease;
}
@mixin color-fade {
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
}
@mixin border-fade($bd-color, $percent-fade) {
    border-right: 1px solid lighten($bd-color, $percent-fade);
    border-left: 1px solid lighten($bd-color, $percent-fade);
    border-bottom: 1px solid lighten($bd-color, $percent-fade);
    border-bottom: 1px solid lighten($bd-color, $percent-fade);
}

#header-wrapper #mobile-top-controls {
    padding: 0 0.5rem 0.5rem 0;
    text-align: right;
    display: block;
    a {
        color: $darkGray;
        display: inline-block;
    }
    a.acct {
        @include bg-gradient(url("../images/noise.png"), $yellow, darken($yellow, 5%));
        display: inline-block;
        text-align: center;
        height: auto;
        color: #fff;
        padding: 1.25rem 0.75rem 0.5rem 0.75rem;
        margin: -10px 0 0 0 !important;
        font-weight: bold;
        @include border-fade($yellow, 5%);
        border-top:none;
        @include box-shadow-general(0, 5px, 10px, rgba(0, 0, 0, 0.2));
    	@include rounded-border-bottom(4px);
        margin-top: -1px;
        margin-left: 1rem;
    }
}
#mobile-logo-wrapper #mobile-logo {
    display: block;
    text-align: center;
    img {
        width: 16rem;
        padding: 1rem 0 1rem 0;
    }
}
#mobile-nav {
    @include box-shadow-general(0, 10px, 15px, rgba(255, 153, 0, 0.60));
    ul {
        clear: both;
    }
    #mobile-nav-bar {
        display: block;
        height: 55px;
        @include bg-gradient(url("../images/noise.png"), lighten($darkGray, 10%), $darkGray);
        border-bottom: 1px solid darken($darkGray, 10%);
        border-top: 1px solid $darkGray;
        #nav-pop {
            margin-bottom: 0;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
			@include rounded-border-top(4px);
   			@include rounded-border-bottom(4px);
            background: $yellow;
            float: right;
            padding: 7px 10px 9px 10px;
            margin: 10px 10px 0 10px;
            color: #fff;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
            border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
            @include box-shadow-general(0, 1px, 0px, rgba(255, 255, 255, 0.1));
            .icon-bar {
                display: block;
                margin-top: 3px;
                width: 18px;
                height: 2px;
                background-color: #f5f5f5;
                @include rounded-border-top(1px);
    			@include rounded-border-bottom(1px);
                @include box-shadow-general(0px, 1px, 0px, rgba(0, 0, 0, 0.25));
                line-height: 14px;
                vertical-align: text-top;
                background-image: url("../images/glyphicons-halflings.png");
                background-position: 14px 14px;
                background-repeat: no-repeat;
            }
        }
    }
    #mobile-nav-menu .drop-menu {
        display: none;
    }
    #mobile-nav-menu {
        display: none;
        background: #fff;
        border-bottom: 1px solid darken($darkGray, 10%);
        ul {
            padding: 0;
            margin: 0;
            li {
                list-style-type: none;
                padding: 0;
                a {
                    display: block;
                    width: 100%;
                    background: $darkGray;
                    color: #fff;
                    border-top: 1px solid lighten($darkGray, 10%);
                    border-bottom: 1px solid darken($darkGray, 10%);
                    span {
                        display: block;
                        padding: 0.25rem;
                    }
                }
                ul {
                    padding: 0;
                    margin: 0;
                    display: none;
                    li {
                        list-style-type: none;
                        padding: 0;
                        a {
                            background: lighten($darkGray, 5%);
                            border-top: 1px solid lighten($darkGray, 15%);
                            border-bottom: 1px solid darken($darkGray, 15%);
                            display: block;
                            margin: 0;
                            span {
                                display: block;
                                padding: 0.25rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

#footer-wrapper {
	footer {
	    #mobileFooter {
	        ul {
	            display: block;
	            text-align: center;
	            width: 100%;
	            border-bottom: 1px solid $lightestGray;
	            li {
	                list-style-type: none;
	                padding: 1rem;
	                a {
	                    display: block;
	                    color: #fff;
	                    font-size: 2.5rem;
	                }
	            }
	        }
	    }
	}
}
/** iPhone portrait and under **/

@media screen and (max-width: 320px) {
    .aui {
        .table {
            display: block;
        }
    }
}
/** iPhone iPhone landscape and under **/

@media screen and (max-width: 640px) {
    .aui {
        .table {
            margin: 0 0 1rem 0;
            width: 100%;
        }
    }
}
/** iPad portrait and under **/

@media screen and (max-width: 768px) {
    .aui {}
}
/** iPad landscape and under **/

@media screen and (max-width: 850px) {
    #header-wrapper .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }
}
/** iPad landscape and under **/

@media screen and (max-width: 1024px) {
    .aui body {
        padding: 0;
    }
}
