/********************************************************************************/
/* Variables                                                                   */
/********************************************************************************/
$lightestGray: #cccccc;
$lightGray: #4F4F4F;
$darkGray: #3F3F3F;
$peach: #F5D8A9;
$yellow: #FF9900;
$white: #ffffff;

/********************************************************************************/
/* Mixins                                                                       */
/********************************************************************************/
@mixin box-shadow-general($horizontal, $vertical, $blur, $box_color) {
    -webkit-box-shadow: $horizontal $vertical $blur $box_color;
    -moz-box-shadow: $horizontal $vertical $blur r$box_color;
    box-shadow: $horizontal $vertical $blur $box_color;
}
@mixin bg-gradient($background-image, $from-color, $to-color) {
    /* Fallback */
    background-color: mix($from-color, $to-color);
    /* Fallback */
    background-image: mix($from-color, $to-color);
    
    background: $background-image center center, -webkit-gradient(linear, 0% 0%, 0% 100%, from($from-color), to($to-color));
    background: $background-image center center, -webkit-linear-gradient(top, $from-color, $to-color);
    background: $background-image center center, -moz-linear-gradient(top, $from-color, $to-color);
    background: $background-image center center, -ms-linear-gradient(top, $from-color, $to-color);
    background: $background-image center center, -o-linear-gradient(top, $from-color, $to-color);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$from-color}', EndColorStr='#{$to-color}')";
}
@mixin rounded-border-top($brd-top-radius) {
    -webkit-border-top-right-radius: $brd-top-radius;
    -webkit-border-top-left-radius: $brd-top-radius;
    -moz-border-radius-topright: $brd-top-radius;
    -moz-border-radius-topleft: $brd-top-radius;
    border-top-right-radius: $brd-top-radius;
    border-top-left-radius: $brd-top-radius;
}
@mixin rounded-border-bottom($brd-btm-radius) {
    -webkit-border-bottom-right-radius: $brd-btm-radius;
    -webkit-border-bottom-left-radius: $brd-btm-radius;
    -moz-border-radius-bottomright: $brd-btm-radius;
    -moz-border-radius-bottomleft: $brd-btm-radius;
    border-bottom-right-radius: $brd-btm-radius;
    border-bottom-left-radius: $brd-btm-radius;
}
@mixin effect-slow-transition {
   -webkit-transition: all .4s ease;
      -moz-transition: all .4s ease;
       -ms-transition: all .4s ease;
        -o-transition: all .4s ease;
           transition: all .4s ease;
}
@mixin border-fade($bd-color, $percent-fade) {
    border-right: 1px solid lighten($bd-color, $percent-fade);
    border-left: 1px solid lighten($bd-color, $percent-fade);
    border-bottom: 1px solid lighten($bd-color, $percent-fade);
    border-bottom: 1px solid lighten($bd-color, $percent-fade);
}
@mixin transparent($transPercent) {
	/* Netscape */
	-moz-opacity: $transPercent;
	/* Safari 1.x */
	-khtml-opacity: $transPercent;
	/* Good browsers */
	opacity: $transPercent;
}




/********************************************************************************/
/* HEADER - Navigation Section          		                                */
/********************************************************************************/
#mobile-nav {
    #mobile-nav-bar {
        display: block;
        height: 55px;
    	background-color: $lightGray;
		@extend .clearfix;
		@include rounded-border-top(4px);
		@include rounded-border-bottom(4px);
		@include box-shadow-general(0, 1px, 1px, rgba(0, 0, 0, 0.5));
		@include border-fade($yellow, 15%);
        #nav-pop {
            cursor: pointer;
            display: inline-block;
            padding: 7px 10px 9px 10px;
            margin: 4px 10px;
            color: $white;
            @include box-shadow-general(0px, 1px, 0px, rgba(0, 0, 0, 0.25));
            @include bg-gradient(url("../images/noiseImg.png"), $darkGray, darken($darkGray, 2%));
            @include rounded-border-top(4px);
   			@include rounded-border-bottom(4px);
        }
       	#nav-pop:hover {
			@include bg-gradient(url("../images/noiseImg.png"), $yellow, darken($yellow, 2%));
			@include effect-slow-transition;
      	}
    }
    #mobile-nav-menu .drop-menu {
        display: none;
    }
    #mobile-nav-menu {
        display: none;
        border-bottom: 1px solid darken($darkGray, 10%);
        @include effect-slow-transition;       
        margin: 0 auto;
        min-height: 0px; 
        border: 0 solid transparent;
        .nav {
        	background-color: $lightGray;
        	@include rounded-border-bottom(4px);
        	@include box-shadow-general(0, 1px, 1px, rgba(0, 0, 0, 0.5));

       		li a {
           		color: $white;
			    display: inline-block;
			    font-weight: bold;
			    padding: 12px 20px;
			    text-shadow: none;
			    width: 100%;
			    @include effect-slow-transition;
            }
          	li a:hover {
				text-decoration: none;
	           	color: $white;
				@include effect-slow-transition;
				@include bg-gradient(url("../images/noiseImg.png"), $yellow, darken($yellow, 2%));
			}
            li.selected #menu-parent-wrapper {
           		@include bg-gradient(url("../images/noiseImg.png"), $darkGray, darken($darkGray, 2%));
				@include effect-slow-transition;
            }
         	li #menu-parent-selector {
            	display: inline-block;
            	height: 100%;
            	width: 19%;
            }
			li ul li a {
				display: inline-block;
				@include bg-gradient(url("../images/noiseImg.png"), $lightGray, darken($lightGray, 2%));
				@include effect-slow-transition;
			}

        }
    }
}

.aui {
	#header-wrapper {
	    #mobile-search-controls {
	    	margin-top: 15px;
	    	@include transparent(0.5);
	    	@include box-shadow-general(0, 1px, 1px, rgba(0, 0, 0, 0.5));
	    	&:hover {
	    		@include transparent(1);
	    		@include effect-slow-transition;
	    		
	    	}
	    	#search-control-input {
	    		margin-top: 5px; 
	    		height: 45px;
	    		float: right;
	    		max-width: 100% !important;
	    		@include effect-slow-transition;
	    	}
	    	#SearchBtn:hover {
	    		color: $yellow;
	    	}
	    }
	}
}
/********************************************************************************/
/* Footer       styles                                                          */
/********************************************************************************/
.aui {
	#footer-wrapper {
		footer {
			#mobileFooter {
				ul {
					margin: 0px;
				}
			}
		}
	}
}

/********************************************************************************/
/* Mobile Media Sizes                                                           */
/********************************************************************************/
@media screen and (max-width: 320px) {

}
@media screen and (max-width: 640px) {

}


/********************************************************************************/
/* Tablet Media Sizes                                                           */
/********************************************************************************/
@media screen and (max-width: 768px) {
 
}
@media screen and (max-width: 850px) {

}

/********************************************************************************/
/* Desktop Media Sizes                                                           */
/********************************************************************************/
@media screen and (max-width: 1024px) {
    .aui body {
        padding: 0;
    }
}
