.project
.classpath
.settings
ivy.xml.MD5


/webs/resources-importer-web/docroot/WEB-INF/lib*
/webs/resources-importer-web/docroot/WEB-INF/classes
/webs/resources-importer-web/docroot/META-INF*
/webs/resources-importer-web/.project
/webs/resources-importer-web/.classpath
/webs/resources-importer-web/.settings

/tools/ext_tmpl/docroot/WEB-INF/lib*
/tools/ext_tmpl/docroot/WEB-INF/ext-impl/.gitignore
/tools/hook_tmpl/docroot/WEB-INF/lib*
/tools/layouttpl_tmpl/docroot/WEB-INF/lib*
/tools/portlet_tmpl/docroot/WEB-INF/lib*
/tools/theme_tmpl/docroot/WEB-INF/lib*
/tools/web_tmpl/docroot/WEB-INF/lib*

/themes/*/docroot/META-INF*
/themes/*/docroot/css*
/themes/*/docroot/images*
/themes/*/docroot/js*
/themes/*/docroot/templates*
/themes/*/docroot/templates*
/themes/*/docroot/WEB-INF/classes*



/.ivy*
/dist
/lib/